<template name="home">

<div class="container search"><br><br><br>
<div class="row">
  <div class="col-lg-12">
    <div class="input-group">

      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
</div>



<div class="container" id="wrapper"><!-- Start of Wrapper -->
    <div id="columns">
         {{>textbooks}}
    </div>
</div><!-- End of Wrapper -->

<footer>
	<img src="http://puu.sh/nfolE/812fe16275.png"/>
</footer>

</template>

