<template name="textbooks">
        {{> collectionTextbooks}}
        <div class="pin">
            <img src="http://puu.sh/nfOjk/a81b8ce5b9.jpg" />
            <p>
                Title: Discrete Mathematics
            </p>
            <p>
                Price: $150.00
            </p><hr>
        </div>
         <div class="pin">
            <img src="http://puu.sh/nfPU0/e7090c049a.png" />
            <p>
                Title: Biology Lab Manual
            </p>
            <p>
                Price: $20.00
            </p><hr>
        </div>
         <div class="pin">
            <img src="http://puu.sh/nfOnc/bfb5090d66.jpg" />
            <p>
                Title: General Chemistry 10th Ed
            </p>
            <p>
                Price: $100.00
            </p><hr>
        </div>
         <div class="pin">
            <img src="http://puu.sh/nfOKT/b1dab24cb7.jpg" />
            <p>
                Title: Writings in Jazz
            </p>
            <p>
                Price: $20.00
            </p><hr>
        </div>
         <div class="pin">
            <img src="http://puu.sh/nfOLn/a29ef77d3b.jpg" />
            <p>
                Title: Principles of Microecon
            </p>
            <p>
                Price: $80.00
            </p><hr>
        </div>
    

         <div class="pin">
            <img src="http://puu.sh/nfOMl/a25df16816.jpg" />
            <p>
                Title: Organic Chemistry Solutions
            </p>
            <p>
                Price: $50.00
            </p><hr>
        </div>
         <div class="pin">
            <img src="http://puu.sh/nfOMK/1a1a945ed5.jpg" />
            <p>
                Title: Physics 9th Ed
            </p>
            <p>
                Price: $20.00
            </p><hr>
        </div>
         <div class="pin">
            <img src="http://puu.sh/nfONj/c3feb19e25.jpg" />
            <p>
                Title: Elementary Statistics
            </p>
            <p>
                Price: $50.00
            </p><hr>
        </div>
</template>

